.standard {
    border-radius: 10px;
    padding-bottom: 10px;
}

body {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.859);
    color: beige;
    font-family: 'Arimo';
}

.sbst{
    font-weight: 750;
    font-family: "Arimo", sans-serif;

}

.txt{
    font-weight: 650;
}